/* UserProfilePage.css */
.background-container {
    background-image: url('./Imagine_fundal.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-container {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background for the profile content */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding around the profile content */
    width: 100%;
    max-width: 1200px; /* Limit the max width */
  }
  